<?xml version="1.0" encoding="iso-8859-1"?>
<plugin xmlns="http://www.enviromatics.net/sirius/navigator/plugins" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://www.enviromatics.net/sirius/navigator/plugins 
        ../plugin.xsd" 
        id="cismap" >
    <!-- usergroup="usergroup@DOMAIN" -->

    <metainfo 
        name="CISMAP" 
        version="0.8"
        copyright="GPL"
        company="cismet GmbH" 
        homepage="http://www.cismet.de" 
        author="Thorsten Hell" 
        contact="thorsten.hell@cismet.de">
        <description>
        </description>
    </metainfo>
    
    <properties>
        <capabilities>
            <progressobservable>true</progressobservable>
            <propertyobservable>false</propertyobservable> 
            <internationalized>false</internationalized> 
            <unloadable>true</unloadable>
            <deactivateable>true</deactivateable> 
        </capabilities>
    </properties>
    
    <deployment>
        <pluginclass>de.cismet.cismap.navigatorplugin.CismapPlugin</pluginclass>
        <libraries>
        </libraries>
        <rights>
            <users>
            </users>
            <usergroups>
            </usergroups>
        </rights>
        <params>
            <param>
                <name>cismapconfig:default</name>
                <value>defaultCismapProperties.xml</value>
            </param> 
            <param>
                <name>geosuche</name>
                <value>GEOSEARCH@USER_DOMAIN</value>
            </param> 
        </params>
        <mappings/>
    </deployment>
    
    <methods>	
        <method>
            <id>de.cismet.cismap.navigatorplugin.CismapPlugin$ShowObjectsMethod</id>
            <name>ShowObject</name>
            <description>
                Zeigt die selektierten Objekte im Navigator Katalog in der Karte an.
            </description>
            <multithreaded>false</multithreaded>
            <availability>100</availability>
        </method>		
    </methods>
     
    <ui>
        <widgets>
            <widget>
                <component>
                    <id>cismap</id>
                    <name>cismap</name>
                    <tooltip>a</tooltip>
                    <icon>images/cismap.png</icon>
                    <position>P3</position>
                    <preferredindex>0</preferredindex>
                    <componentevents>false</componentevents>
                </component>
                <container>
                    <floatingframe>
                        <menubaravailable>true</menubaravailable>
                        <swapmenubar>true</swapmenubar>
                        <disablemenubar>false</disablemenubar>
                        <toolbaravailable>false</toolbaravailable>
                        <swaptoolbar>true</swaptoolbar>
                        <disabletoolbar>true</disabletoolbar>
                        <floatingevents>false</floatingevents>
                    </floatingframe>
                </container>
            </widget>
        </widgets>
        
        <actions>
            <popupmenu>
                <properties>
                    <name>CismapClient</name>
                    <mnemonic>S</mnemonic>
                    <icon>images/cismap.png</icon>
                </properties>
                <items>
                    <item>
                        <name>Show Objects</name>
                        <mnemonic>O</mnemonic>
                        <icon>images/cismap.png</icon>
                        <method>de.cismet.cismap.navigatorplugin.CismapPlugin$ShowObjectsMethod</method>
                        <accelerator>alt O</accelerator>
                    </item>
                </items>
            </popupmenu>		
        </actions>
    </ui>
</plugin>